<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601241293680-re294qehk3p35onkfsvms30si7mq4p4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601241293680-re294qehk3p35onkfsvms30si7mq4p4l</string>
	<key>API_KEY</key>
	<string>AIzaSyALj3mut_i1ofESDYqvxCCOTsbGQ4G8Yes</string>
	<key>GCM_SENDER_ID</key>
	<string>601241293680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawfect.pawsmeet</string>
	<key>PROJECT_ID</key>
	<string>pawsmeet-dea6a</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsmeet-dea6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601241293680:ios:0b0e2f45542eec0cf575b5</string>
	<key>DATABASE_URL</key>
	<string>https://pawsmeet-dea6a-default-rtdb.firebaseio.com</string>
</dict>
</plist>